<!DOCTYPE html>
<html>
<head>
  <title>Package Index</title>
</head>
<body>
  {% for pkg in pkgs %}
    <a href="{{ pkg.get_url(request) | safe }}">{{ pkg.filename }}</a><br>
  {%- endfor %}
</body>
</html>
