<!DOCTYPE html>
<html>
<head>
  <title>Simple Index</title>
</head>
<body>
  {% for pkg in pkgs %}
    <a href="{{ request.app_url('simple', pkg, '') }}">{{ pkg }}</a><br>
  {%- endfor %}
</body>
</html>
