*.py[cod]
*.swp
*.sqlite

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
htmlcov

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.ropeproject
pypicloud_env
_build
_local.db
*.ini
ansible/group_vars/local
ansible/group_vars/production
ansible/group_vars/staging
ansible/hosts
.vagrant
