###
# app configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/environment.html
###

[app:main]
use = egg:pypicloud

pyramid.reload_templates = true
pyramid.debug_authorization = false
pyramid.debug_notfound = false
pyramid.debug_routematch = false
pyramid.default_locale_name = en

jinja2.filters =
    route_url = pyramid_jinja2.filters:route_url_filter
    static_url = pyramid_jinja2.filters:static_url_filter
    tojson = pypicloud:to_json

jinja2.directories = pypicloud:templates

aws.access_key = <<AWS access key>>
aws.secret_key = <<AWS secret key>>
aws.bucket = <<AWS bucket>>

sqlalchemy.url = sqlite:///%(here)s/db.sqlite

# For beaker
session.type = cookie
session.encrypt_key = aaaa
session.httponly = true
session.validate_key = bbbb

###
# wsgi server configuration
###

[server:main]
use = egg:waitress#main
host = 0.0.0.0
port = 6543

###
# logging configuration
# http://docs.pylonsproject.org/projects/pyramid/en/latest/narr/logging.html
###

[loggers]
keys = root, boto

[handlers]
keys = console

[formatters]
keys = generic

[logger_root]
level = INFO
handlers = console

[logger_]
level = DEBUG
handlers =
qualname =

[logger_boto]
level = INFO
handlers =
qualname =

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = generic

[formatter_generic]
format = %(asctime)s %(levelname)-5.5s [%(name)s][%(threadName)s] %(message)s
