<div ng-controller="IndexCtrl">

  <!-- Helper text to tell people how to use this server with pip -->
  <div class="row hidden-xs hidden-sm" ng-show="!$cookies.seenPipHelp && packages && packages.length > 0">
    <div class="col-xs-12 col-md-offset-2 col-md-8">
      <alert type="'success'" close="closePipHelp()">
        <p>
          You can install packages using:
        </p>
        <div class="text-center">
          <code>
            pip install -i {{ ROOT }}pypi/ PACKAGE1 [PACKAGE2 ...]
          </code>
        </div>
      </alert>
    </div>
  </div>

  <div class="row" ng-show="USER === null && packages !== null && packages.length === 0">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <h4>Hmmmm...Looks pretty empty in here. Try <a ng-href="{{ ROOT }}login">logging in?</a></h4>
    </div>
  </div>

  <!-- Search header and toggle buttons -->
  <div class="row" style="margin-top: 10px; margin-bottom: 10px;" ng-show="packages !== null">
    <div class="col-xs-12 col-md-offset-3 col-md-4">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input class="form-control" ng-model="searchText" ng-change="currentPage = 1" type="text" placeholder="Search">
      </div>
    </div>
    <div class="col-xs-12 col-md-2 hidden-xs hidden-sm">
      <div ng-show="USER">
        <button class="btn btn-sm btn-default pull-right" ng-click="toggleUpload()">
          {{ uploadCollapsed ? 'Upload' : 'Cancel' }}
          <i class="fa fa-caret-up" ng-show="!uploadCollapsed"></i>
        </button>
      </div>
      <div ng-show="CAN_UPDATE_CACHE">
        <button class="btn btn-sm btn-default pull-right"
          ng-click="toggleFetch()"
          style="margin-right: 10px">
          {{ fetchCollapsed ? 'Fetch' : 'Cancel' }}
          <i class="fa fa-caret-up" ng-show="!fetchCollapsed"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- Upload a package file directly -->
  <div class="row" style="margin-bottom: 10px">
    <div ng-include="PARTIAL + 'upload.html'"></div>
  </div>

  <!-- Fetch requirements from the fallback_url -->
  <div class="row" style="margin-bottom: 10px" collapse="fetchCollapsed">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <p>
        Fetch from <a href="{{ FALLBACK_URL }}">{{ FALLBACK_URL }}</a> (requirements.txt format)
      </p>
      <div ng-init="wheel=true; prerelease=false">
        <span>
          <label>wheel:</label>
          <input type="checkbox" ng-model="wheel">
        </span>
        <span style="margin-left: 10px">
          <label>pre-release:</label>
          <input type="checkbox" ng-model="prerelease">
        </span>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <textarea ng-model="requirements"
            rows="4" style="width: 100%" placeholder="requests>=2.2.0">
          </textarea>
        </div>
        <div class="col-xs-12 col-md-4">
          <button ng-click="fetchRequirements()"
            ng-disabled="!requirements || requirements.length === 0 || fetchingRequirements"
            class="btn btn-primary">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="packages === null" class="text-center">
    <i class="fa fa-spinner fa-spin fa-4x"></i>
  </div>

  <!-- Table of packages -->
  <div class="row" ng-if="packages !== null">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <table class="table table-striped table-bordered table-clickable">
        <thead>
          <tr>
            <th>Package</th>
            <th>Stable</th>
            <th>Unstable</th>
            <th>Last upload</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="package in filtered = (packages | filter:searchText) | orderBy:'name' | startFrom:(currentPage - 1)*pageSize | limitTo:pageSize" ng-click="showPackage(package.name)">
            <td>{{ package.name }}</td>
            <td>{{ package.stable }}</td>
            <td>{{ package.unstable }}</td>
            <td>{{ package.last_modified * 1000 | date:'yyyy-MM-dd HH:mm' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" ng-show="filtered.length > pageSize">
        <pagination direction-links="true" total-items="filtered.length" rotate="false" max-size="maxSize" items-per-page="pageSize" page="currentPage"></pagination>
      </div>
    </div>
  </div>
</div>
