interactions:
- request:
    body: test1234
    headers:
      Content-Type:
      - application/octet-stream
      If-None-Match:
      - '*'
      x-ms-blob-type:
      - BlockBlob
      x-ms-date:
      - Mon, 11 May 2020 22:14:12 GMT
      x-ms-meta-name:
      - mypkg
      x-ms-meta-summary:
      - test
      x-ms-meta-version:
      - '1.2'
      x-ms-version:
      - '2019-07-07'
    method: PUT
    uri: https://terrytest2.blob.core.windows.net/pypi/mypkg/pkg.tar.gz
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ftek/KdELdo62TyacmWX5A==
      ETag:
      - '"0x8D7F5F8A29C78F4"'
      Last-Modified:
      - Mon, 11 May 2020 22:14:12 GMT
      x-ms-content-crc64:
      - +DdLf3crGSo=
      x-ms-request-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 May 2020 22:14:12 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://terrytest2.blob.core.windows.net/pypi?prefix=&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://terrytest2.blob.core.windows.net/\" ContainerName=\"\
        pypi\"><Blobs><Blob><Name>mypkg/pkg.tar.gz</Name><Properties><Creation-Time>Mon,\
        \ 11 May 2020 22:14:12 GMT</Creation-Time><Last-Modified>Mon, 11 May 2020\
        \ 22:14:12 GMT</Last-Modified><Etag>0x8D7F5F8A29C78F4</Etag><Content-Length>8</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-CRC64 /><Content-MD5>Ftek/KdELdo62TyacmWX5A==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 May 2020 22:14:12 GMT
      x-ms-version:
      - '2019-07-07'
    method: HEAD
    uri: https://terrytest2.blob.core.windows.net/pypi/mypkg/pkg.tar.gz
  response:
    body:
      string: ''
    headers:
      Content-MD5:
      - Ftek/KdELdo62TyacmWX5A==
      Content-Type:
      - application/octet-stream
      ETag:
      - '"0x8D7F5F8A29C78F4"'
      Last-Modified:
      - Mon, 11 May 2020 22:14:12 GMT
      x-ms-access-tier:
      - Hot
      x-ms-access-tier-inferred:
      - 'true'
      x-ms-blob-type:
      - BlockBlob
      x-ms-creation-time:
      - Mon, 11 May 2020 22:14:12 GMT
      x-ms-lease-state:
      - available
      x-ms-lease-status:
      - unlocked
      x-ms-meta-name:
      - mypkg
      x-ms-meta-summary:
      - test
      x-ms-meta-version:
      - '1.2'
      x-ms-server-encrypted:
      - 'true'
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
version: 1
