interactions:
- request:
    body: null
    headers:
      x-ms-date:
      - Mon, 11 May 2020 22:31:41 GMT
      x-ms-version:
      - '2019-07-07'
    method: GET
    uri: https://terrytest2.blob.core.windows.net/pypi?prefix=&restype=container&comp=list
  response:
    body:
      string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?><EnumerationResults\
        \ ServiceEndpoint=\"https://terrytest2.blob.core.windows.net/\" ContainerName=\"\
        pypi\"><Blobs><Blob><Name>mypkg/mypkg-1.1.tar.gz</Name><Properties><Creation-Time>Mon,\
        \ 11 May 2020 22:30:12 GMT</Creation-Time><Last-Modified>Mon, 11 May 2020\
        \ 22:30:12 GMT</Last-Modified><Etag>0x8D7F5FADEEABB8D</Etag><Content-Length>0</Content-Length><Content-Type>application/octet-stream</Content-Type><Content-Encoding\
        \ /><Content-Language /><Content-CRC64 /><Content-MD5>1B2M2Y8AsgTpgAmY7PhCfg==</Content-MD5><Cache-Control\
        \ /><Content-Disposition /><BlobType>BlockBlob</BlobType><AccessTier>Hot</AccessTier><AccessTierInferred>true</AccessTierInferred><LeaseStatus>unlocked</LeaseStatus><LeaseState>available</LeaseState><ServerEncrypted>true</ServerEncrypted></Properties></Blob></Blobs><NextMarker\
        \ /></EnumerationResults>"
    headers:
      Content-Type:
      - application/xml
      x-ms-version:
      - '2019-07-07'
    status:
      code: 200
      message: OK
version: 1
